<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OnlineStore</title>
    <link rel="stylesheet" href="/css/Styles.css">
</head>
<body>
<div class="navbar">
    <div class="logo">OnlineStore</div>
    <div class="nav-items">
        <form method="get" action="/" style="display: inline;">
            <input type="text" name="search" placeholder="Search items..." th:value="${searchTerm}">
            <button type="submit">Search</button>
        </form>
        
        <a href="/products">
            <button>products</button>
        </a>
        <a href="/login">
            <button>Logout</button>
        </a>
        <a href="/cart">
            <button>Cart</button>
        </a>
    </div>
</div>

<h1 style="text-align:center; margin-top:20px;">Products</h1>

<div class="products">
    <div th:each="product : ${products}" class="product-card">
        <img th:src="@{${product.image}}" th:alt="${product.name}">
        <h2 th:text="${product.name}">Product Name</h2>
        <p th:text=" ' $ ' + ${product.price} ">Price</p>
        <button>View</button>
        <button>Add to cart</button>
    </div>
</div>
</body>
</html>